@model IEnumerable<Course>

<h2>Course View</h2>
<p>
    <a asp-action="Create">Create New Course</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="white-space: nowrap;">Course Id</th>
            <th scope="col" style="white-space: nowrap;">Course Number</th>
            <th scope="col" style="white-space: nowrap;">Course Name</th>
            <th scope="col" style="white-space: nowrap;">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.CourseId</td>
                <td>@v.CourseNumber</td>
                <td><span data-toggle="modal" data-target="#exampleModalLong" style="color: blue; cursor:pointer;" onclick="showStudents(@v.CourseId)">@v.CourseName</span></td>
                <td>@v.Description</td>
            </tr>
        }
    <tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enrolled Students</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
function showStudents(id){
    $.get('@Url.Action("GetCourseStudentsID", "CourseStudent")/' + id,
        function (data) {
            $(".modal-body").html(data)
            console.log(data);

});
}
</script>